.header{
    width: 100vw;
    height: calc(10vh + 3vw);
    background-color: aqua;
    display: flex;
}

.logo{
    height: 100%;
    width: calc(8vh + 3vw);
    display: flex;
    margin-left: 10px;
    align-items: center;
}
