.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navLink{
    width: 12vw;
    img{
        max-width: 100%;
        filter: invert(21%) sepia(94%) saturate(28%) hue-rotate(314deg) brightness(124%) contrast(99%);          
        &:hover{
            transition: all 0.4s ease;
            filter: invert(0%) sepia(100%) saturate(27%) hue-rotate(254deg) brightness(96%) contrast(103%);
            transform: scale(1.1) translate3d(0, 0, 0);           
        }
        &:active{
            transition: all 0.2s ease;
            transform: scale(0.8) translate3d(0, 0, 0); 
        }
    }
}
