$light-color: #C9D9C2;
$dark-color: #1B494B;
$light-filter: invert(76%) sepia(3%) saturate(1118%) hue-rotate(57deg) brightness(107%) contrast(102%);
$dark-filter: invert(23%) sepia(14%) saturate(1783%) hue-rotate(134deg) brightness(92%) contrast(91%);
$breakpoint-1000: 1000px;
$breakpoint-801: 801px;
$breakpoint-800: 800px;
$breakpoint-601: 601px;
$breakpoint-600: 600px;

