@import "config";

.container {
  // background-color: $light-color;
  min-height: inherit;
  form {
    width: 100%;
    min-height: inherit;
    display: flex;
    .inputContainer {
      display: grid;
      will-change: transform;
      .inputError {
        padding-top: 15px;
        color: red;
        font-size: 17px;
      }
    }
    .leftForm {
      width: 40%;
      min-height: inherit;
      display: grid;
      align-content: space-between;
      .inputContainer {
        justify-content: center;
        text-align: center;
        label {
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 20px;
        }
        select {
          text-align: center;
          font-size: 17px;
          height: 35px;
          border-radius: 5px;
          background-color: white;
          color: black;
        }
      }
      .price {
        display: grid;
        gap: 20px;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        font-size: 27px;
        font-weight: 600;
      }
    }
    .rightForm {
      width: 60%;
      min-height: inherit;
      .imageContainer {
        overflow: hidden;
        width: 100%;
        height: 80%;
        // image{
        //   width: 100%;
        //   height: 100%;
        //   object-fit: contain;
        // }
        .inputContainer {
          padding-bottom: 30px;
          display: grid;
          justify-content: center;
          label {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 20px;
          }
          input {
            &::file-selector-button {
              color: black;
              background-color: white;
              border-radius: 5px;
              height: 35px;
              width: 130px;
              font-size: 17px;
              font-weight: 500;
              border: none;
            }
          }
        }
        .uploadedImg {
          width: 100%;
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          .imgUploaded {
            max-width: 70%;
            max-height: 100%;
            object-fit: contain;
          }
          .imgPlaceHolder {
            width: 70%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .button {
        will-change: transform;
        padding-top: 30px;
        width: 100%;
        height: 20%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        button {
          background-color: $dark-color;
          font-weight: 600;
          font-size: 17px;
          width: 200px;
          height: 35px;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          &:hover {
            scale: 1.1;
            transition: all 0.4s ease;
            transform: scale(1.1) translate3d(0, 0, 0);
          }

          &:active {
            transition: all 0.2s ease;
            transform: scale(0.8) translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}

@media (min-width: 451px) and (max-width: $breakpoint-800) {
  .container {
    padding-top: 50px;
    form {
      .leftForm {
        align-content: flex-start;
        row-gap: 90px;
        .inputContainer {
          label {
            font-size: 23px;
          }
          select {
            font-size: 15px;
          }
        }
        .price {
          font-size: 23px;
        }
      }
      .rightForm {
        .imageContainer {
          height: 70%;
          .inputContainer {
            label {
              font-size: 23px;
            }
            input {
              &::file-selector-button {
                height: 30px;
                font-size: 15px;
              }
            }
          }
          .uploadedImg {
            .imgPlaceHolder {
              width: 70%;
            }
          }
        }
        .button {
          button {
            width: 120px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    padding-top: 50px;
    form {
      display: grid;
      row-gap: 50px;
      .leftForm {
        width: 100%;
        justify-content: center; 
        align-content: flex-start;
        row-gap: 50px;
        min-height: fit-content;
        .inputContainer {
          label {
            font-size: 20px;
          }
          select {
            width: 70vw;
          }
        }
      }
      .rightForm {
        width: 100%;
        justify-content: center;
        .imageContainer {
          .inputContainer {
            label {
              font-size: 20px;
            }
          }
        }
        .button {
          button {
            width: 120px;
          }
        }
      }
    }
  }
}
