@import "config";
.navbarWrapper {
  width: 100%;
  .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .navLink {
      transform: translateX(100vw);
      visibility: hidden;
      opacity: 0;
      width: 110px;
      img {
        max-width: 100%;
        filter: $dark-filter;
        &:hover {
          transition: all 0.4s ease;
          //black
          filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(81deg)
            brightness(93%) contrast(105%);
          transform: scale(1.1) translate3d(0, 0, 0);
        }
        &:active {
          transition: all 0.2s ease;
          transform: scale(0.8) translate3d(0, 0, 0);
        }
      }
    }
  }
}
// .section{
//   display: flex;
//   gap: 10px;
//   height: 100%;
//   width: 100%;
//   background-color: transparent;
//   align-items: center;
//   justify-content: center;
// }
// .box{
//   height: 50%;
//   width: 30px ;
//   background-color: white;
//   // transform: translateX(100vw);
//   //     visibility: hidden;
//   //     opacity: 0;
// }
