@import "config";

.container{
    height: 100vh;
    background-color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        text-align: center;
        color: $dark-color;
        font-size: 30px;
        font-weight: 600;
    }
}

@media (min-width: $breakpoint-601) and (max-width: $breakpoint-800) {
  .container {
    .text {
      font-size: 25px;
    }
  }
}

@media (max-width: $breakpoint-600) {
  .container {
    .text {
      font-size: 20px;
    }
  }
}