@import "config";

.container {
  height: 100vh;
  background-color: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    width: 30%;
    height: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: $dark-color;
    .customerDetails {
      color: black;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
